@import './header-component';
@import './question-component';
@import './colors';
@import "chat-message-section";
@import "chat-component";
@import "chat-body-section";
@import "chat-header-section";
@import "chat-input-section";

body {
  font-family: sans-serif;
  font-weight: lighter;
  margin: 10px 20px;
}
