.chat-container {
  display: grid;
  grid-template-columns: 20% 80%;
  > .no-chat {
    font-size: 4rem;
  }
}

.chat {
  display: block;
  margin: 0 auto;
  background-color: white;
  height: 100%;
}
