.question--container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  margin-top: 1rem;
  p {
    margin-top: 1rem;
  }
}

.question--list {
  display: grid;
  grid-gap: 1rem;
  margin-top: 1rem;

  &-item {
    padding: 10px;
    cursor: pointer;
    border-style: solid;
    border-width: thin;
    border-color: @input-border-color;
  }

  &-button {
    border-top: thin solid @input-border-color;
    padding-top: 0.5rem;
    button {
      background-color: @secondary-color;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 100%;
      cursor: pointer;
    }
  }
  &-feedback {
    border-top: thin solid;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
}

.question-answer {
  display: flex;
  padding: 1rem;
  &--container {
    width: 50%;
    margin: 1rem;
  }
}

.question-form {
  display: flex;
  flex-direction: column;
  background-color: @form-background-color;
  padding: 1rem;
  &--item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    font-weight: 100;
    word-wrap: normal;
  }
  &--answer {
    padding: 0.5rem;
    height: 15rem;
    margin-top: 0.5rem;
  }
  &--question {
    padding: 0.5rem;
    height: 5rem;
    margin-top: 0.5rem;
  }
  &--button {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 1rem;
    button {
      background-color: @secondary-color;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      width: 10rem;
      font-size: 1rem;
      cursor: pointer;
      margin-left: 0.5rem;
    }
  }
}
