.question--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.question--list {
  display: grid;
  grid-gap: 1rem;
  margin-top: 1rem;

  &-item {
    padding: 10px;
    cursor: pointer;
    border-style: solid;
    border-width: thin;
    border-color: @input-border-color;
    &-info {
      margin-top: 1rem;
    }
  }

  &-themes {
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    p {
      margin: 0;
      padding: 0;
    }
    
    &-element {
      margin: 0 0 0.5rem 0.5rem; 
    }
  }

  &-button-container {
    border-top: thin solid @input-border-color;
    padding-top: 0.5rem;
    button {
      width: 100%;
      margin: 0;
    }
  }
  &-feedback {
    border-top: thin solid;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
}

.question-answer {
  display: flex;
  margin-top: 2rem;
  &--container {
    width: 50%;
  }
}

.question-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: @form-background-color;
  padding: 1rem;
  &--item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    font-weight: 100;
    word-wrap: normal;
  }
  &--item-picker {
    flex-wrap: wrap;
  }
  &--dropdown {
    width: 50%;
  }
  &--answer {
    padding: 0.5rem;
    height: 15rem;
    margin-top: 0.5rem;
  }
  &--question {
    padding: 0.5rem;
    height: 5rem;
    margin-top: 0.5rem;
  }
  &--button-container {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 1rem;
    margin-right: -0.5rem;
  }
  &--tagg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.answer-question--container {
  margin-top: 2rem;
}

.question-header--title {
  margin-bottom: 0.5rem;
}

.feedback--list {
  margin-top: 1rem;
  display: grid;
  grid-rows: auto;
  grid-row-gap: 1rem;
  &-element {
    background-color: @form-background-color;
    min-height: 2rem;
    padding: 0.5rem;
  }
  &-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: thin solid @border-color;
    .leksehjelp--link {
      margin-right: 0;
    }
  }
}
