.question--container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;

  h5 {
    font-weight: 100;
  }
}

.question--list {
  display: grid;
  grid-gap: 1rem;

  &-item {
    padding: 10px;
    cursor: pointer;
    border-style: solid;
    border-width: thin;
    border-color: @input-border-color;

    h4 {
      margin: 0rem;
    }
  }

  &-button {
    border-top: thin solid @input-border-color;
    padding-top: 0.5rem;
    button {
      background-color: @secondary-color;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 100%;
      cursor: pointer;
    }
  }
}

.question--header {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: grey;
  margin-top: 10px;
  margin-bottom: 0px;

  h3 {
    font-weight: normal;
    margin-bottom: 5px;
  }
}

.question-answer {
  display: flex;
  padding: 1rem;
  &--container {
    width: 50%;
    margin: 1rem;
  }
}

.question-form {
  display: flex;
  flex-direction: column;
  background-color: @form-background-color;
  padding: 1rem;
  &--item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    font-weight: 100;
    word-wrap: normal;
  }
  &--answer {
    padding: 0.5rem;
    height: 15rem;
  }
  &--question {
    padding: 0.5rem;
    height: 5rem;
  }
}
